<div class="filters">
  <button class="show-all-recipes mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">A</button>

  <button class="breakfast-only mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">B</button>

  <button class="tacos-only mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">T</button>
</div>

<%= react_component 'RecipeList' %>



<%= link_to new_recipe_path, class: "mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" do %>
  <i class="material-icons">add</i>
<% end %>
