.recipe-list {
  display: flex;

  .card-square {
    width: 320px;
    height: 320px;
    margin: 20px;

    .mdl-card__title-text {
      background: rgba(#111111, 0.6);
      color: #eeeeee;
      padding: 2px 12px;
    }
  }

}

.error-text {
  color: #F44235;
  font-weight: bold;
}
